body {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #7e6666;
    line-height: 1.5;
    background-image: url('../img/sheep9-1280x720.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.align-center{
    text-align: center;
}
.store-list {
    display: flex;
}
.store-item {
    margin-right: 150px;
    font-size: 50px;
}
.store-item-image{
    width: 250px; 
    height: 150px;
    padding-right: 30px;
}

.main-nav font-english{
    margin-bottom: 10px;
}
.sato-image{
    width: 600px; 
    height: 400px;
}